<!DOCTYPE html>
<html lang="en">
<head>
    <title>Add new user</title>
</head>
<body>
<h3>Add new user</h3>
<br><input type="button" value="Dashboard" onclick="window.location='dashboard'">
<input type="button" value="Roles" onclick="window.location='roleslist'">

<p><input type="button" value="Avatar" onclick="window.location='endpoint'">
<p>
<form method="post" enctype="multipart/form-data">
    <input type="file" name="file" size="50"/>
    <input type="submit" value="Upload avatar" name="avatarLoading"/>
</form>

<form method="post" th:object="${currentUser}" action="changeData">
    <p>Id: <input type="text" name="id" size="20" th:value=${id}></p>
    <p>Login: <input type="text" th:field="*{login}" name="login" size="20" th:value=${login}/>
        First name: <input type="text" th:field="*{firstname}" name="lastname" size="20" th:value=${firstname}/></p>
    <p>Password: <input type="text" th:field="*{password}" name="password" size="20"/>
        Last name: <input type="text" th:field="*{lastname}" name="lastname" size="20" th:value=${lastname}/></p>

    <span th:each="role,iterStat : ${rolelist}">
        <span th:if="${iterStat.index%10==0}"><br></span>
        <input type="checkbox" id="role" name="role" th:value="${role.role}">
        <label for="role" th:text="${role.role}">
        </label>
    </span>

    <br><input type="submit" value="Add user" name="addNewUser">
    <input type="submit" value="Change data" name="changeUser">
</form>
</body>
</html>