<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Roles list</title>
</head>
<body>
<h3>Roles list</h3>
<input type="button" value="Users" onclick="window.location='dashboard'">
<input type="button" value="Edit" onclick="window.location='edituser'">
<form method="post">
    <p><label for="id">Enter id: </label>
        <input id="id" type="text" size="3" name="id">
    <p>Change/add new role: <label for="role">
    </label><input id="role" type="text" size="20" name="role">
        <br><br><input type="submit" value="Change data" name="ChangeData">
    </p>
</form>

<form th:action="@{/users/roleslist}" method="post">
    <p><label for="keyword">Search: </label>
        <input id="keyword" type="text" size="20" name="keyword">
        <input type="submit" value="Search">
    <p>
</form>

<table>
    <thead>
    <tr>
        <th>
            <a th:href="@{/users/roleslist(page=${1}, keyword=(${keyword != null} ? ${keyword}), sortedBy=${'id'}, sortDir=${columnSortDir.get(0)})}">ID</a>
        </th>
        <th>
            <a th:href="@{/users/roleslist(page=${1}, keyword=(${keyword != null} ? ${keyword}), sortedBy=${'role'}, sortDir=${columnSortDir.get(0)})}">Roles</a>
        </th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="roles : ${rolesPage.content}">
        <td th:text="${roles.id}"></td>
        <td th:text="${roles.role}"></td>
        <td>
            <a th:href="'/users/roleslist?page=' + ${currentPage} + ${linkParameters} + '&deleteID=' + ${roles.id}"
               onclick="return confirm('Are you sure you want to delete this role?');">Delete</a>
        </td>
    </tr>
    </tbody>
</table>

<a th:if="${rolesPage.totalPages > 0}" class="pagination"
   th:each="pageNumber : ${pageNumbers}">
    &nbsp;<a th:href="@{'/users/roleslist?page=' + ${pageNumber} + ${linkParameters}}"
             th:text=${pageNumber}>
</a>
</a>
</body>
</html>