<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Roles list</title>
</head>
<body>
<h3>Roles list</h3>
<input type="button" value="Users" onclick="window.location='/users/dashboardStart'">
<input type="button" value="Edit roles" onclick="window.location='editrole'">

<form th:action="@{/users/roleslist}" method="post">
    <p><label for="keyword">Search: </label>
        <input id="keyword" type="text" size="20" name="keyword">
        <input type="submit" value="Search">
    <p>
</form>

<table>
    <thead>
    <tr>
        <th>
            <a th:href="@{/users/roleslist(page=${1}, keyword=(${keyword != null} ? ${keyword}), sortField=${'id'}, sortDir=${columnSortDir.get(0)})}">ID</a>
        </th>
        <th>
            <a th:href="@{/users/roleslist(page=${1}, keyword=(${keyword != null} ? ${keyword}), sortField=${'role'}, sortDir=${columnSortDir.get(1)})}">Roles</a>
        </th>
        <th>Delete</th>
        <th>Edit</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="roles : ${rolesPage.content}">
        <td th:text="${roles.id}"></td>
        <td th:text="${roles.role}"></td>
        <td>
            <a th:href="'/users/roleslist/delete/' + ${roles.id} + '/?page=' + ${page} + ${linkParameters}"
               onclick="return confirm('Are you sure you want to delete this role?');">Delete</a>
        </td>
        <td>
            <a th:href="'/users/editrole?id=' + ${roles.id}">Edit</a>
        </td>
    </tr>
    </tbody>
</table>

<a th:if="${rolesPage.totalPages > 0}" class="pagination"
   th:each="pageNumber : ${pageNumbers}">
    &nbsp;<a th:href="@{'/users/roleslist?page=' + ${pageNumber} + ${linkParameters}}"
             th:text=${pageNumber}>
</a>
</a>
</body>
</html>