<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login</title>
</head>
<body>
<form id="#" method="post" th:action="@{/auth}" th:object="${user}" >
    <div>
        <h3>Enter your login and password: </h3>
        <p>Login: <input type="text" th:field="*{login}" name="login" size="20" th:value=${login} required/></p>
        <p>Password: <input type="password" th:field="*{password}" name="password"size="20" required/></p>
        <p><input type="submit" value="Submit"></p>
    </div>
</form>
</body>
</html>
